.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
/pano


static/staticPanos/1wjmg
static/staticPanos/8hdgt
static/staticPanos/8hdgt_line